aiohttp==3.10.5
aiohttp==3.12.15
aiohttp==3.13.3
baostock==0.8.9
beautifulsoup4==4.14.3
fastapi==0.135.2
langchain_community==0.4.1
langchain_core==1.2.22
langchain_huggingface==1.2.1
langchain_milvus==0.3.3
langchain_ollama==1.0.1
langchain_text_splitters==1.1.1
loguru==0.7.2
pandas==3.0.1
pydantic==2.12.5
pymilvus==2.6.10
pymysql==1.1.1
python-dotenv==1.2.2
python_boilerplate==0.4.10
redis==7.4.0
Requests==2.33.0
schedule==1.2.2
starlette==1.0.0
tushare==1.4.25
uvicorn==0.42.0
yfinance==1.2.0
